.item a {
    color: white;
    text-decoration: none;
}

.item a.active {
    color: blueviolet;
}

.side {
    display: flex;
}
/*.item{
    color: antiquewhite;
}*/
.item img{
    width: 50px;
    border-radius: 30px;
}