.app-wrapper {
    display: grid;
    margin: 0 auto;
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-template-areas: "h h "
                        "n c"
                        "s c";
    /* grid-gap: 10px; */
    width: 1200px;
}

.app-wrapper-content {
    grid-area: c;
    background-color: aquamarine;
}

.app-wrapper-sidebar {
    height: 150px;
    background-color: lightskyblue;
}


